<div class="jumbotron">
	<h1>Welcome to BizPundit!</h1>
	<h2>Ask amazing questions to your data and learn more about your business !</h2>
	Ask <%= link_to "What does my PoS analytics say?", insights1_path, class: "btn btn-primary" %>
	<br><br>
	Ask <%= link_to "What are my biggest acquisition channels?", insights_path, class: "btn btn-primary" %>
	<br><br>
	Ask <%= link_to "What is my revenue forecast for next quarter?", insights3_path, class: "btn btn-primary" %>
</div>

