<div class="jumbotron">
	<h1>Welcome to Bizpundit!</h1>
	<h2>Ask amazing questions to your data and learn more about your business !</h2>
	Ask <%= link_to "What does my PoS analytics say?", "#", class: "btn btn-primary" %>
	<br><br>
	Ask <%= link_to "What are my biggest acquisition channels?", "#", class: "btn btn-primary" %>
	<br><br>
	Ask <%= link_to "What is my revenue forecast for next quarter?", "#", class: "btn btn-primary" %>
</div>

